* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.whole-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.whole-logo .logo1 {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .whole-logo .logo1 {
    font-size: 26px;
    line-height: 31px;
  }
}

.whole-logo .logo1 .logo2 {
  color: black;
  margin-right: 68px;
  margin-right: 0;
}

.whole-logo2 {
  margin-bottom: 20px;
}

.whole-logo2 .logo1 {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .whole-logo2 .logo1 {
    font-size: 26px;
    line-height: 31px;
  }
}

.whole-logo2 .logo1 .logo3 {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header-section {
  border: 1px solid #ECECEC;
  background: #FFFFFF;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header-section {
    height: 80px;
  }
}

.header-section .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .header-section .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header-section .fl-container {
    width: 1200px;
  }
}

.header-section .fl-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-right: 221px;
  }
}

.menu .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
}

.menu .flex-item .menu-item {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 25px;
  margin-right: 25px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .flex-item .menu-item:hover, .menu .flex-item .menu-item:focus {
  color: #2196F3;
}

.line1::before {
  content: "";
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-fill {
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-fill {
  fill: #2196F3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.adr {
  margin-top: -10px;
}

@media screen and (max-width: 767px) {
  .adr {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .adr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .adr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: -30px;
  }
}

.adr .contact {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .adr .contact {
    margin-right: 30px;
    font-size: 14px;
    line-height: 16px;
  }
}

.adr .contact:hover, .adr .contact:focus {
  color: #2196F3;
}

.adr .contact:hover .envelope {
  fill: #2196F3;
}

.adr .contact:hover .smartphone {
  fill: #2196F3;
}

.adr .contact .envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr .contact .envelope:hover, .adr .contact .envelope:focus {
  fill: #2196F3;
}

.adr .contact .smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.adr .contact .smartphone:hover, .adr .contact .smartphone:focus {
  fill: #2196F3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 489px) {
  .intro-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header/header-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/header-tablet.jpg");
  }
}

@media screen and (min-width: 489px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 489px) and (min-resolution: 2dppx) {
  .intro-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header/header-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/header-tablet@2x.jpg");
  }
}

.intro-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header/header-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/header-mobile.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 1200px) {
  .intro-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.intro-section .intro-container {
  width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .intro-section .intro-container {
    width: 696px;
  }
}

@media screen and (min-width: 800px) {
  .intro-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header/header-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/header-desktop.jpg");
  }
}

@media screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 800px) and (min-resolution: 2dppx) {
  .intro-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header/header-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/header-desktop@2x.jpg");
  }
}

.title-h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title-h1 {
    font-size: 44px;
    line-height: 60px;
  }
}

.service .sub-service {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  list-style-type: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.service .sub-service:hover, .service .sub-service:focus {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.buttons-section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .buttons-section {
    padding-top: 94px;
  }
}

.buttons-section .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .buttons-section .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-section .fl-container {
    width: 1200px;
  }
}

.buttons {
  margin-bottom: -15px;
  margin-right: -8px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons .button {
  padding: 6px;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 15px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .button:hover .butt,
.buttons .button:focus .butt {
  color: #FFFFFF;
}

.buttons .button:hover, .buttons .button:focus {
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons .button .butt {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .li1 {
  width: 73px;
}

.buttons .li2 {
  width: 128px;
}

.buttons .li3 {
  width: 128px;
}

.buttons .li4 {
  width: 103px;
}

.buttons .li5 {
  width: 130px;
}

input {
  margin-top: 4px;
}

textarea {
  margin-top: 4px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.main-form {
  width: 370px;
}

@media screen and (min-width: 1200px) {
  .main-form {
    width: 461.7px;
  }
}

@media screen and (max-width: 479px) {
  .main-form {
    width: 100%;
  }
}

.modal-window {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

@media screen and (max-width: 479px) {
  .modal-window {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .modal-window {
    overflow-y: scroll;
  }
}

.modal-window .link-btn {
  position: relative;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url("../img/close-btn.svg");
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .link-btn:hover, .modal-window .link-btn:focus {
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-image: url("../img/bg-close.svg");
}

.js-speaker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perenos {
  height: 23px;
}

.form-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .form-text {
    line-height: 23px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  position: relative;
}

.form .form-label {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form .form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-input:hover, .form .form-input:focus {
  border: 1px solid #2196F3;
}

.form .form-input:hover {
  cursor: pointer;
}

.form .form-input:hover + .personal-icon,
.form .form-input:focus + .personal-icon {
  fill: #2196F3;
}

.form .personal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: black;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .comment-area {
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form .comment-area {
    margin-bottom: 0;
  }
}

.form .comment-area:focus, .form .comment-area:hover {
  border: 1px solid #2196F3;
}

.first-name {
  margin-top: 12px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .group-1 {
  margin-top: 10px;
}

.policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    line-height: 24px;
  }
}

.policy-label .check-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-label .check-box:checked + .checkbox-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("../img/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy-label .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 8px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label .policy-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: underline;
  margin-left: 4px;
}

@media screen and (min-width: 1200px) {
  .policy-label .policy-link {
    font-size: 14px;
    line-height: 24px;
  }
}

.btn-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-control .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  margin-top: 31px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .btn-control .submit-btn {
    margin-top: 40px;
  }
}

.btn-control .submit-btn:hover, .btn-control .submit-btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inform-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .inform-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.inform-section .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .inform-section .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .inform-section .fl-container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.paragraph .sub-para {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .paragraph .sub-para:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .paragraph .sub-para {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph .sub-para {
    width: 270px;
  }
}

.paragraph .sub-para::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .paragraph .sub-para::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph .sub-para::before {
    width: 270px;
  }
}

.paragraph .sub-para .title-h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .paragraph .sub-para .title-h3 {
    text-align: left;
  }
}

.paragraph .sub-para .text0 {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.paragraph .obj1::before {
  background-image: url("../img/antenna 1.svg");
}

.paragraph .obj2::before {
  background-image: url("../img/clock 1.svg");
}

.paragraph .obj3::before {
  background-image: url("../img/diagram 1.svg");
}

.paragraph .obj4::before {
  background-image: url("../img/astronaut 1.svg");
}

.content-sect {
  padding-top: 40px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .content-sect {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .content-sect {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}

.content-sect .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .content-sect .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .content-sect .fl-container {
    width: 1200px;
  }
}

.content-section {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-hover {
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-hover:hover .description {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #EEEEEE;
}

.card-hover:hover .appear-block {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.card-hover .blank {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  list-style-type: none;
  width: 450px;
  position: relative;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-hover .blank {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-hover .blank {
    width: 370px;
  }
}

@media screen and (max-width: 479px) {
  .card-hover .blank {
    width: 100%;
  }
}

.overfl-block {
  position: absolute;
  width: 450px;
  height: 294px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .overfl-block {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .overfl-block {
    width: 370px;
    height: 306px;
  }
}

@media screen and (max-width: 479px) {
  .overfl-block {
    width: 100%;
  }
}

.overfl-block .appear-block {
  position: absolute;
  top: 0;
  width: 450px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  .overfl-block .appear-block {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .overfl-block .appear-block {
    width: 370px;
    height: 306px;
  }
}

@media screen and (max-width: 479px) {
  .overfl-block .appear-block {
    width: 100%;
    height: 100%;
  }
}

.overfl-block .appear-block .appear-text {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin-right: 23px;
  margin-left: 23px;
}

.description {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.description .text {
  color: #212121;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.description .sub-text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}

.deals-section {
  padding-bottom: 94px;
}

@media (min-width: 480) {
  .deals-section {
    display: none;
  }
}

.deals-section .fl-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deals-section .fl-container .h21 {
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-top: 50px;
}

.our-deals .images {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 294px;
}

.our-deals .images:nth-child(-n+2) {
  margin-right: 30px;
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label .label-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .clients-section .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section .fl-container {
    width: 1200px;
  }
}

.clients-section .fl-container .h23 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-section .fl-container .h23 {
    margin-bottom: 50px;
  }
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.lists .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .lists .list-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .lists .list-item {
    width: 170px;
  }
}

.lists .list-item:hover, .lists .list-item:focus {
  border: 1px solid #2196F3;
}

.lists .list-item:hover .partner {
  fill: #2196F3;
}

.lists .list-item .partner {
  fill: #afb1b8;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists .list-item .tag1 {
  width: 44.27px;
  height: 49.23px;
  margin-top: 20px;
}

.lists .list-item .tag2 {
  width: 40px;
  height: 52px;
  margin-top: 19px;
}

.lists .list-item .tag3 {
  width: 41px;
  height: 42.6px;
  margin-top: 24px;
}

.lists .list-item .tag4 {
  width: 79.66px;
  height: 42.02px;
  margin-top: 24px;
}

.lists .list-item .tag5 {
  width: 59px;
  height: 47px;
  margin-top: 22px;
}

.lists .list-item .tag6 {
  width: 88.48px;
  height: 45.44px;
  margin-top: 22px;
}

.footer-section {
  background: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-section .linear {
  text-align: center;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .footer-section .linear {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section .linear {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    margin-right: 70px;
    text-align: left;
  }
}

.end .span1 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.end .span1 .footer-position {
  color: #FFFFFF;
  text-decoration: none;
}

.end .span1 .footer-item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.end .sp {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .end .sp {
    margin-top: 9px;
  }
}

.block {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .block {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    margin-right: 93px;
  }
}

.block .invite {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-links .link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .link:hover, .footer-links .link:focus {
  background-color: #2196F3;
}

.footer-links .link:nth-child(-n+3) {
  margin-right: 10px;
}

.footer-links .link:hover .footer-link {
  fill: #FFFFFF;
}

.footer-links .link .footer-link {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.footer-links .back {
  background-color: rgba(255, 255, 255, 0.1);
}

.block-margin {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .block-margin {
    margin-top: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .block-margin {
    margin-right: 0;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form .footer-input {
  outline: none;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-top: 0;
  background: #2F303A;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-input {
    width: 358px;
  }
}

.footer-form .subscribe {
  margin-right: 125px;
  margin-left: 125px;
  position: relative;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
  padding-left: 29px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer-form .subscribe {
    margin-right: 0;
    margin-left: 12px;
  }
}

@media screen and (max-width: 479px) {
  .footer-form .subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form .subscribe:hover, .footer-form .subscribe:focus {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding-left: 28px;
}

.footer-form .subscribe .footer-send {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
}

.team-section {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-section .fl-container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .team-section .fl-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section .fl-container {
    width: 1200px;
  }
}

.team-section .fl-container .h22 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section .fl-container .h22 {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.our-team {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-bottom: 0;
  }
}

.our-team .team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team .team-member {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .team-member {
    width: 270px;
    margin-bottom: 0;
  }
}

.our-team .team-member .text1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  text-align: center;
}

.our-team .team-member .text2 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 10px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-links .link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:nth-child(-n+3) {
  margin-right: 10px;
}

.social-links .link:hover, .social-links .link:focus {
  background-color: #2196F3;
}

.social-links .link:hover .social-link {
  fill: #FFFFFF;
}

.social-links .link .social-link {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.link:hover .social-links .link .social-link {
  fill: #FFFFFF;
}

.back-drop {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 100%;
  right: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: scroll;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.back-drop.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  width: 480px;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  margin-bottom: 40px;
}

.modal-list .modal-item {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
}

.modal-list .modal-item:hover, .modal-list .modal-item:focus {
  color: #2196F3;
}

.modal-line::before {
  content: "";
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  bottom: -8px;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-adr {
  margin-bottom: -16px;
}

.modal-adr .modal-adr-link {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-adr .modal-adr-link:hover, .modal-adr .modal-adr-link:focus {
  color: #2196F3;
}

.modal-adr .modal-adr-link:hover .modal-envelope {
  fill: #2196F3;
}

.modal-adr .modal-adr-link:hover .modal-smartphone {
  fill: #2196F3;
}

.modal-adr .modal-adr-link .modal-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-adr .modal-adr-link .modal-envelope:hover, .modal-adr .modal-adr-link .modal-envelope:focus {
  fill: #2196F3;
}

.modal-adr .modal-adr-link .modal-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.modal-adr .modal-adr-link .modal-smartphone:hover, .modal-adr .modal-adr-link .modal-smartphone:focus {
  fill: #2196F3;
}

.header-section,
.intro-section,
.inform-section,
.deals-section,
.team-section,
.content-sect,
.buttons-section,
.clients-section,
.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .deals-section {
    display: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479px) {
  .fl-container,
  .intro-container {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */