.buttons-section{
    padding-top: 60px;
    @media screen and(min-width:1200px) {
        padding-top: 94px;
    }
    .fl-container{
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        @media screen and(min-width:768px) {
            width: 768px;
        }
        @media screen and(min-width:1200px) {
            width: 1200px;
        }
    }
}
.buttons{
    margin-bottom: -15px;
    margin-right: -8px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    @media screen and(min-width:768px) {
        justify-content: center;
    }
    .button{
        padding: 6px;
        height: 38px;
        background: $button-color;
        border-radius: 4px;
        text-align: center;
        margin-right: 8px;
        margin-bottom: 15px;
        transition: $main-transition;
        &:hover .butt,
        &:focus .butt{
            color: $main-color;
        }
        &:hover,
        &:focus{
            background: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
        .butt{
            font-family: $main-font;
            color: $black-color;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            transition: $main-transition;
        }
        }
    .li1{
        width: 73px;
    }
    .li2{
        width: 128px;
    }
    .li3{
        width: 128px;
    }
    .li4{
        width: 103px;
    }
    .li5{
        width: 130px;
    }
}