$accent-color: #2196F3;
$main-color: #FFFFFF;
$background-color: #E5E5E5;
$second-color: #757575;
$accent-font: 'Oleo Script', cursive;
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$footer-color: #2F303A;
$black-color: #212121;
$button-color: #F5F4FA;
$main-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
$true-black:black;
$social-fill:#afb1b8;